- title "Questions"

%table
  %tr
    %th Body
  - for question in @questions
    %tr
      %td= question.body
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Question", new_question_path(question)
