- title "Question"

%p
  %strong Body:
  = @question.body

%p
  %strong Answers:
  %ul
    - @question.answers.each do |answer|
      %li
        %strong
          = answer.choice
        = "- #{answer}"

%p
  Submit your reply by texting 
  %strong (415) 599-2671.
  With the Question ID
  = "(#{@question.id})"
  and your answer.
%p
  %i
    e.g. 
    = "##{@question.id} C"

%p
  = link_to "New answer", new_question_answer_path(@question)
  |
  = link_to "Edit", edit_question_path(@question)
  |
  = link_to "Destroy", @question, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", questions_path
