- title "Answer"

%p
  %strong Body:
  = @answer.body
%p
  %strong Question:
  = @answer.question_id
%p
  %strong Choice:
  = @answer.choice

%p
  = link_to "Edit", edit_question_answer_path(@question, @answer)
  |
  = link_to "Destroy", [@question, @answer], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", question_answer_path(@question)
