- title "Responses"

%table
  %tr
    %th Question
    %th Answer
  - for response in @myresponses
    %tr
      %td= response.question_id
      %td= response.answer_id
      %td= link_to 'Show', response
      %td= link_to 'Edit', edit_response_path(response)
      %td= link_to 'Destroy', response, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Response", new_response_path(response)
